*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.mainblock{
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 0;
	top: 3000px;

}

.block{
	background: url('../img/bg2.png') center no-repeat;
	width: 1440px;
	height: 500px;
	position: absolute;
	left: 21px;
	top: 211.1px;

}

.text{
	font-weight: bold;
	color: #48555b;
	letter-spacing: 0.15px;
	font-size: 30px;
	line-height: 36px;
	width: 350px;
	height: 72px;
	position: absolute;
	left: 545px;
	top: 120px;
	display: flex;
	align-items: center;
	text-align: center;
}

.bt{
	width: 150px;
	height: 40px;
	background: #00a4e5;
	position: absolute;
	left: 665px;
	top: 437px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 18px;
	color: #ffffff;
	display: flex;
	align-items: flex-end;
	padding: 0px 0px 11px 25px;
	text-transform: uppercase;

}

.newsletter{
	width: 1440px;
	height: 100px;
	background: #171819;
	position: absolute;
	left: 21px;
	top: 709.99px;

}

.newsletter_text{
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	position: absolute;
	left: 378px;
	top: 35px;
	text-align: center;
	letter-spacing: 0.8px;
}

.email{
	position: absolute;
	width: 250px;
	height: 40px;
	left: 664px;
	top: 30px;
	padding: 10.5px 0px 10.5px 16px;

	background: #ffffff;
	border: 1px solid #979797;
	box-sizing: border-box;
}

.btsubmit{
	position: absolute;
	width: 150px;
	height: 40px;
	left: 913px;
	top: 30px;
	background: #00a4e5;

	font-weight: bold;
	font-size: 13px;
	line-height: 18px;

	text-align: center;
	letter-spacing: 0.5px;
	color: #ffffff;
	text-transform: uppercase;
}

.info{
	position: absolute;
	width: 1440px;
	height: 240px;
	left: 21px;
	top: 809.99px;

	background: #141a20;
}

.companylogo{
	position: absolute;
	left: 249px;
	top: 76px;
}

.txt4{
	position: absolute;
	left: 249px;
	top: 42px;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;

	letter-spacing: 0.8;
	color: #ffffff;
	text-transform: uppercase;
}

.txt5{
	position: absolute;
	left: 249px;
	top: 114px;
	width: 250px;
	height: 76px;
	font-weight: normal;
	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.85px;
	color: #ffffff;

}

.txt6{
	position: absolute;
	left: 570px;
	top: 42px;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.8px;
	color: #ffffff;
	text-transform: uppercase;
}

.list{
	position: absolute;
	left: 570px;
	top: 67px;
	font-weight: 600;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 0.8px;
	color: #ffffff;
	text-transform: uppercase;
}
.list1{
	position: absolute;
	left: 680px;
	top: 67px;
	font-weight: 600;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 0.8px;
	color: #ffffff;
	text-transform: uppercase;
}
.list2{
	position: absolute;
	left: 770px;
	top: 67px;
	font-weight: 600;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 0.8px;
	color: #ffffff;
	text-transform: uppercase;
}

.txt7{
	position: absolute;
	left: 890px;
	top: 42px;
	font-size: 11px;
	font-style: normal;
	line-height: 15px;
	letter-spacing: 0.8;
	color: #ffffff;
	text-transform: uppercase;
}

.txt8{
	position: absolute;
	left: 890px;
	top: 72px;
	font-style: normal;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.8px;
	color: #ffffff;
}

.facebookico{
	color: #ffffff;
	position: absolute;
	left: 1077.48px;
	top: 72.48px;
}
.twitterico{
	color: #ffffff;
	position: absolute;
	left: 1114.47px;
	top: 72.48px;
}
.googleico{
	color: #ffffff;
	position: absolute;
	left: 1151.18px;
	top: 72.48px;
}

.copyright{
	position: absolute;
	left: 0;
	top: 240px;
	width: 1440px;
	height: 60px;
	background: #171819;
}

.copyright_text{
	position: absolute;
	left: 571px;
	top: 23px;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.8px;
	color: #ffffff;
}